# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# Logs y temporales
*.log
*.tmp
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos empaquetados
*.jar
*.war
*.ear
*.zip

# Docker
*.tar

# Cobertura y reports
*.lcov
*.coverage
site/

# Otros
.env
